.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* Light gray background for contrast */
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    padding: 0; /* Remove extra padding */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    padding: 15px 20px; /* Padding to create space around the logo */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #333; /* Dark text for high contrast */
    text-decoration: none;
}

.logo-gradient {
    background: linear-gradient(90deg, #11e911, #188dc4); /* Soft blue gradient for modern look */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
